@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-color {
    background-color: #1e55b3;
}

.custom-color-two {
    background-color: #ff5960;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}
